<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357803277757-efr8uenjvua2u6d9b3n05fb4hov5k7o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357803277757-efr8uenjvua2u6d9b3n05fb4hov5k7o1</string>
	<key>API_KEY</key>
	<string>AIzaSyDG-q0EMnaN52BI8jYqFkNTI77tSzGVobc</string>
	<key>GCM_SENDER_ID</key>
	<string>357803277757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thribby</string>
	<key>PROJECT_ID</key>
	<string>thribby</string>
	<key>STORAGE_BUCKET</key>
	<string>thribby.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357803277757:ios:1699f6eff7feac80bda6d4</string>
	<key>DATABASE_URL</key>
	<string>https://thribby.firebaseio.com</string>
</dict>
</plist>